#home-navigation-container
	%ul{ :id => "navlist" }
		%li
			= link_to "Home", { :controller => "/home" }
		%li{ :id => "active" }
			= link_to "About Us", {:controller => "/about"}
		%li
			= link_to "Programs", {:controller => "/programs"}, :id => "current"
		%li
			= link_to "Contact Us", {:controller => "/contact"}
		%li
			= link_to "Get Involved", {:controller => "/get_involved"}

	%ul{ :id => "subnavlist" }
		%li{ :id => "active" }
			= link_to "World Uniting Press", {:controller => "/programs/press"}
		%li
			= link_to "Over Coffee Conversations", {:controller => "/programs/overcoffeeconversations"}, :id => "current"
			
			
#wrapper
	#content
		%h1 Over Coffee Conversations
		%p
			%center 
				&nbsp;
				%iframe{:src => "http://player.vimeo.com/video/19439898?color=ffffff&amp;autoplay=1", :width => "400", :height => "265", :frameborder => "0"}
		%h2 Summary
		%hr
			%p 
				= image_tag "three.jpg", :hspace => "10px", :align => "right", :title => "Over Coffee Conversations"
				Over Coffee Conversations are a stage-based event with conservative leaders concerning the subject matter of
				= link_to "D.a. Thompson's book, Over Coffee: A Conversation for Gay Partnership & Conservative Faith.", "http://dathompson.com/writings", :target => "_blank"
				The event provides conservative faith audiences with a unique opportunity to engage the controversial issue of gay partnership by means of a uniquely relaxed coffee-house conversation between D.a. Thompson and his event participants.
			%p
				Audience members will enjoy sitting in on this lively and thought-provoking discussion, watching as D.a. and his guests reflect on a conservative-faith and biblical conversation around gay-partnership in the church. The audience will finish their engagement by participating in a Question & Answer time with the stage participants following the presentation.
			%h2 A Safe Place
			%hr
			%p
				This event provides a unique atmosphere for safe consideration and discussion by observing the following rules of engagement:
				%ul
					%li
						We will agree not to require any conclusions to be made
					%li
						We will remain within a conservative-faith context: accepting the Scriptures to be inspired and inerrant
					%li
						We will agree not to discuss any current political, economic, or legal issues
					%li
						We will agree to treat each other with respect and love
			
			%h2 Stage Plot
			%hr
			%p
				%center
					= image_tag "occ_sbe_plot.jpg", :alt => "stage plot"
				
			%h2 Outline of Event
			%hr
			%p
				The event is broken down into three sections, the first beginning with an introduction of the subject matter by D.a. and the two remaining being led by the Pastor or Host. The following is a basic outline of the event:
				%ol
					%li
						(if the event is being filmed) Director of Production will introduce themself and explain the format and filming details
					%li
						MC will introduce the participants and the Rules of Engagement (listed above)
					%li 
						Main Event Content – the main content will be divided into three main components (20 minutes each)
					%ul
						%li
							%strong First Section: 
							D.a. Thompson will (1) provide a synopsis of his book, "Over Coffee," (2) clarify some definitions and context around the definition of "gay" for the context of the conversation, including a conversation about the Kinsey Scale, Reparative therapy, and common perceptions of gay persons
						%li
							%strong Second Section: 
							The Pastor or Host will begin with a conversation about the conservative-faith perspective of the Biblical Creation account, the separation of gender, and the marital sacrament, providing the case for the creative intention of marriage between opposite genders. D.a. will reflect along with the Pastor or Host throughout the conversation.
						%p
							%i (There will be a break here. D.a. or another musician will provide a musical piece.)
						%br
						%li
							%strong Third Section: 
							The Pastor or Host will (1) discuss Matthew 19 (Jesus and the Context of Divorce and the Non-Ideal), (2) continuing with a conversation about divorce and remarriage in today's Church, (3) finishing with a conversation about Celibacy. D.a. will reflect along with the Pastor or Host throughout the presentation.
					%li
						Question and Answer from the audience (up to 45 minutes) - The audience will be able to ask questions of the event participants and will be provided with a mic location from which to ask it.
			%h2 Contact
			%hr
			%p
				For more information, contact us at
				= mail_to "info@worlduniting.org", "info@worlduniting.org", :encode => "javascript"
			    

= render "layouts/right_sidebar"
	
