#home-navigation-container
	%ul{ :id => "navlist" }
		%li
			= link_to "Home", { :controller => "/home" }
		%li{ :id => "active" }
			= link_to "About Us", {:controller => "/about"}
		%li
			= link_to "Programs", {:controller => "/programs"}, :id => "current"
		%li
			= link_to "Contact Us", {:controller => "/contact"}
		%li
			= link_to "Get Involved", {:controller => "/get_involved"}

	%ul{ :id => "subnavlist" }
		%li{ :id => "active" }
			= link_to "World Uniting Press", {:controller => "/programs/press"}, :id => "current"
		%li
			= link_to "Hand of Fellowship", {:controller => "/programs/handoffellowship"}
		%li
			= link_to "Over Coffee Conversations", {:controller => "/programs/overcoffeeconversations"}	
			
			
#wrapper
	#content
		%h1 World Uniting Press
		%p{:id => "center"}
			= image_tag "all_rights.jpg", :title => "50%"
		%h2 Summary
		%hr
		%p 
			World Uniting Press (WUP) is the publishing arm of World Uniting, which means that we have the proud pleasure of publishing (did you like that alliteration?) authors who are as convicted about our mission and vision as we are ourselves.
		%h2 Benefits
		%hr
		%p
			Did you know that, like our mission, we are unique in providing our authors the following benefits over other publishing companies:
			%ul
				%li
					A 
					%strong 50% share 
					in the profits
				%li 
					%strong 100% Ownership 
					of all of their works
				%li
					A 
					%strong Semi-Exclusive Contract 
					\- which means that you stay with us only as long as you are happy with our services
		%h2 Submit
		%hr
			%p
				If you are an author and think that your work fits with our mission and vision, contact us at
				= mail_to "press@worlduniting.org", "press@worlduniting.org", :encode => "javascript"


= render "layouts/right_sidebar"
	
