#home-navigation-container
	%ul{ :id => "navlist" }
		%li
			= link_to "Home", { :controller => "/home" }
		%li{ :id => "active" }
			= link_to "About Us", {:controller => "/about"}
		%li
			= link_to "Programs", {:controller => "/programs"}
		%li
			= link_to "Contact Us", {:controller => "/contact"}, :id => "current"
		%li
			= link_to "Get Involved", {:controller => "/get_involved"}

	%ul{ :id => "subnavlist" }
		%li{ :id => "active" }
			= link_to "Contact Info", {:controller => "/contact"}, :id => "current"
		%li
			= link_to "eNewsletter Signup", {:controller => "/contact/enewsletter"}
			
#wrapper
	#content
		%h1 Contact Us
		%h2 U.S. Office
		%hr
			%p
				World Uniting
				%br/ 
				902 Market St, Suite 311
				%br/ 
				Tacoma, WA 98402
				%br/
				253-245-9540
				%br/
				= mail_to "info@worlduniting.org", "info@worlduniting.org", :encode => "javascript"
			%p
				= render "voice_widget"
				
		%h2 Mailing Address
		%hr
			%p
				P.O. Box 7407
				%br/ 
				Tacoma, WA 98417
		
		%h2 Other Places to Find Us
		%hr
			%p
				%a{:href => "http://www.facebook.com/pages/World-Uniting/214989735202747", :target => "_blank"} http://www.facebook.com/worlduniting
			%p
				%a{:href => "http://twitter.com/worlduniting", :target => "_blank"} http://twitter.com/worlduniting

= render "layouts/right_sidebar"
	
