#right_sidebar	
	#social_media
		= link_to image_tag( "facebook.png", :title => "Facebook", :border => "0"), "http://www.facebook.com/pages/World-Uniting/214989735202747", :target => "_blank", :title => "Facebook"
		= link_to image_tag( "twitter_icon.gif", :title => "Twitter", :border => "0"), "http://www.twitter.com/worlduniting", :target => "_blank", :title => "Twitter"
	%p
		= link_to image_tag( "donor.gif", :title => "Be a Donor", :border => "0"), {:controller => "/get_involved/giving"}
	%p
		= mail_to "volunteer@worlduniting.org", image_tag("lend_a_hand.jpg", :title => "Lend a Hand", :border => "0"), :encode => "javascript"
		
	%p
		= mail_to "press@worlduniting.org", image_tag("be_an_author.jpg", :title => "Become an Author", :border => "0"), :encode => "javascript"