!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title World Uniting - for the rest of the family.
		%meta{ :name => "description", :content => "Providing non-profit outreach and education within majority people groups on behalf of underrepresented persons for religiously and socially conflicting issues. World Uniting’s uniqueness is its approach, bringing conversation to majority perspectives by speaking within their framework and point of view, in order to provide empathy, awareness, and repositioning of majority policies that alienate minority persons."}/
		%link{ :rel => "image_src", :href => "http://worlduniting.org.dev/assets/image.png"}
		= stylesheet_link_tag "application"
		/[if IE]
			%script{ :type => "text/css" }
				body {
					text-align: center;
					}
		= javascript_include_tag "application"
		= csrf_meta_tags
		%link{ :rel => "icon", :type => "image/png", :href => "/assets/favicon.png"}
		%link{ :ref => "shortcut icon", :type= => "image/x-icon", :href => "/assets/favicon.png"}
		%script{ :type => "text/javascript"}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-24287584-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#container
			#header 
				= link_to image_tag("wu_logo_web.png", :title => "World Uniting Logo", :border => "0", :id => "logo"), { :controller => "/home"}, :alt => "World Uniting Logo"

				
				#top-navigation
					= link_to ">Blog", "http://worlduniting.blogspot.com", :target => "_blank"
					= link_to ">eNewsletter Signup", {:controller => "/contact/enewsletter"}
					= link_to ">Contact", {:controller => "/contact"}
		
			= yield

			#footer
				%p 
					%a © Copyright 2011 World Uniting. All Rights Reserved.